.board-design {
    background: #FF7A00;
}

.board-sales {
    background: #FC71FE;
}

.board-backoffice {
    background: #23D8C1;
}

.board-marketing {
    background: #0038FD;
}

.board-media {
    background: #FFC900;
}


.drag-area {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px dashed black;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.todo {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

/* Main content area */
.main-content {
    margin-left: calc(50% - 720px + 250px);
    margin-top: 80px;
    padding: 24px;
    min-height: calc(100vh - 80px);
    max-width: calc(1440px - 250px);
}