@media (max-width: 1420px) {
	.drag-board {
		grid-template-columns: 1fr;
		margin-top: 16px;
	}

	.tasks-list {
		flex-direction: row !important;
		overflow-x: scroll;
		scrollbar-width: none;
		padding-top: 8px;
		padding-bottom: 12px;
		padding-left: 8px;
		padding-right: 8px;
	}

	.search-input-wrapper {
		min-width: 300px;
	}
}

@media (max-width: 1365px) {
	.add-task-modal-content {
		width: auto;
		height: 85vh;
	}

	.section-task-left {
		max-width: none !important;
	}

	.section-task-right {
		max-width: none !important;
	}

	.section-task-under {
		margin-top: 0;
	}

	.btn-clear-task-container {
		position: sticky;
		bottom: 0;
		padding-top: 24px;
		padding-bottom: 24px;
		background-color: #fff;
	}

	/* Für Webkit-Browser (Chrome, Edge, Safari) */
	.add-task-modal-content::-webkit-scrollbar {
		width: 6px;
		background: transparent;
		border-radius: 30px;
	}

	.add-task-modal-content::-webkit-scrollbar-thumb {
		background: #d1d1d1;
		border-radius: 30px;
	}

	.add-task-modal-content::-webkit-scrollbar-track {
		background: transparent;
		border-radius: 30px;
	}

	.star-required {
		margin-top: 16px;
		margin-bottom: 8px;
	}
}

@media (max-width: 1040px) {
	.main-content {
		padding: 64px 40px;
	}

	.tasks-list {
		padding-right: 76px;
	}
}

@media (max-width: 1000px) {
	.main-content {
		margin-left: 0;
	}
}

@media (max-width: 800px) {
	.header-title-container {
		font-size: 24px;
	}

	.search-add-container {
		margin-left: 0;
		align-items: flex-start;
	}
}

@media (max-width: 760px) {
	.header-board {
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;
	}

	.add-task-button {
		display: none !important;
	}

	.plus-add-task-button {
		display: flex !important;
		position: absolute;
		right: 40px;
		top: 180px;
	}

	.search-add-container {
		flex-direction: column;
		gap: 16px;
		position: relative;
		width: 100%;
	}

	.search-input-wrapper {
		width: 100%;
		max-width: unset;
	}

	.add-task-modal-content {
		/* Slide from bottom on mobile */
		transform: translateY(100vh);
	}

	.add-task-modal.show .add-task-modal-content {
		transform: translateY(0);
		opacity: 1;
	}
}

@media (max-width: 640px) {
	.tasks-list {
		overflow-y: visible;
		gap: 12px;
		width: 100%;
		min-width: 0;
		scrollbar-width: none;
		/* Firefox */
		-ms-overflow-style: none;
		/* IE 10+ */
	}

	.tasks-list::-webkit-scrollbar {
		display: none;
	}
}

@media (max-width: 490px) {
	.main-content {
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-left: 8px;
		padding-right: 8px;
	}

	.plus-add-task-button {
		right: 8px;
		top: 170px;
	}

	.header-title-container h1 {
		font-size: 47px;
	}

	.search-input-wrapper {
		min-width: 280px;
	}
}