@media(max-width:1365px) {
  .main-container {
    margin-left: 20px;
    margin-bottom: 96px;
  }

  .add-task-container {
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .add-task-section {
    margin-left: 0;
  }

  .pipe {
    display: none;
  }

  .section-task-under {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .title-section {
    margin-top: 40px;
    margin-left: 0;
    width: 100%;
    max-width: 377px;
  }

  .star-required {
    max-width: 480px;
  }

  #form-element {
    margin-left: 0;
  }

  .max-w-50 {
    max-width: 100%;
  }

  .task-successful-info-text {
    font-size: 20px;
    color: white;
  }

  .section-task-under {
    position: static;
    bottom: unset;
  }

  .btn-clear-task-container {
    position: static;
    bottom: unset;
    left: unset;
    width: 100%;
    background: #F5F7F7;
    z-index: 100;
    margin-top: 60px;
    padding: 16px 0px 16px 16px;
  }
}

@media (max-width: 1000px) {
  .main-container {
    margin-left: 0;
    margin-top: 96px;
    margin-bottom: 80px;
    padding: 16px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .btn-clear-task-container {
    position: sticky !important;
    bottom: 80px;
    left: 0;
    width: 100%;
    background: #F5F7F7;
    z-index: 100;
    margin-top: 60px;
    padding: 16px 0px 16px 16px;
  }
}

@media(max-width:634px) {

  #form-element {
    width: 100%;
  }

  .add-task-section {
    width: 100%;
  }

  .title-section {
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .title-section h1 {
    font-size: 47px;
    min-width: 220px;
  }

  .add-task-container {
    width: 100%;
  }

  .section-task-under {
    align-items: flex-start;
  }

  .subtask-entry {
    max-width: 440px;
    min-width: 360px;
  }

  .assigned-to {
    width: 180px;
  }

  .max-w-440 {
    max-width: 100%;
  }

  .btn-prio {
    width: 100%;
    justify-content: space-between;
  }
}

@media(max-width:510px) {
  .max-w-440 {
    min-width: 320px;
  }

  .title-section {
    margin-left: 0px;
    margin-top: 20px;
  }

  .font-bundle {
    font-size: 16px;
  }

  .btn-prio-bundle {
    min-width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .subtask-entry {
    width: 100%;
    max-width: 440px;
    min-width: 230px;
  }

  .select-container {
    min-width: 320px;
  }
}

@media(max-width:368px) {

  .subtask-input-box {
    justify-content: space-between;
  }

  .max-w-440 {
    min-width: 260px;
  }

  .title-section {
    margin-left: 0px;
    margin-top: 0;
  }

  .font-bundle {
    padding: 8px;
    font-size: 16px;
  }

  .btn-prio {
    gap: 4px;
  }

  .btn-prio-bundle {
    min-width: 80px;
    height: 40px;
    padding: 0 4px
  }

  .input-title-task {
    height: 40px;
  }

  .textarea-task {
    height: 49px;
  }

  .dropdown-input input {
    padding: 8px 8px 8px 0px;
    width: 206px;
  }

  .avatar {
    margin-right: 0;
  }

  .input-bundle {
    height: 48px;
  }

  .input-second {
    width: 180px;
  }

  .section-task-under {
    max-width: 440px;
    min-width: 266px;
  }

  .add-subtask-input {
    padding: 8px 8px 8px 0px;
  }

  .subtask-active {
    display: flex;
    justify-content: space-between;
  }

  .subtask-entry {
    max-width: 440px;
    min-width: 200px;
  }

  .dropdown-list {
    min-width: 268px;
  }

  .custom-dropdown {
    min-width: 260px;
  }

  .select-container {
    min-width: 260px;
  }

  .btn-addtask-clear {
    gap: 8px;
    height: 48px;
    width: 100px;
  }

  .btn-addtask-create {
    height: 48px;
    width: 140px;
  }

  .icon-subtask-container {
    gap: 8px;
  }

  .icon-task {
    padding-left: 8px;
  }

  .task-successful-info img {
    height: 24px;
    width: 24px;
  }

  .task-successful-info {
    min-width: 266px;
    width: 280px;
  }

  .task-successful-info-text {
    font-size: 16px;
  }
}