/* Media Queries for login.css */

@media(max-width: 781px) {
  .button-group-login {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 70px;
  }

  .button-group-login-item {
    align-items: center;
  }

  .btn-stakeholder {
    background-color: #2A3647 !important;
    border-color: #2A3647 !important;
  }
}

@media(max-width: 750px) {
  .login-box {
    max-width: 500px;
  }
}

@media(max-width:780px) {
  .logo-animated.shrink {
    top: 35px;
    left: 30px;
    width: 64px;
    transform: translate(0, 0);
  }

  .modal-content {
    padding: 64px 40px;
  }

  /* Mobile Modal Adjustments */
  .modal-overlay {
    flex-direction: column;
    justify-content: center;
  }

  .modal-logo-mobile {
    display: block !important;
    top: 35px;
    left: 30px;
    width: 64px;
  }

  .modal-signup-mobile {
    display: flex !important;
    position: static;
    /* Part of flex flow */
    margin-bottom: 24px;
    /* 24px distance to modal */
    width: 100%;
    justify-content: center;
  }

  .modal-footer-mobile {
    display: flex !important;
    position: absolute;
    bottom: 30px;
    width: 100%;
    justify-content: center;
  }

}

@media(max-width: 600px) {
  .login-box {
    width: 100%;
    max-width: 380px;
    padding: 5px 16px;
    margin-top: 220px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 20px;
    gap: 15px;
  }

  .login-btn,
  .guest-btn {
    width: 180px;
  }

  .underline img {
    width: 88px;
  }

  .login-box h2 {
    font-size: 47px;
  }

  .input-wrapper input {
    height: 35px;
  }

  .top-right {
    display: none;
  }

  .top-right-down {
    margin-top: 40px;
  }

  .logo-animated.shrink {
    top: 35px;
    left: 30px;
    width: 64px;
    transform: translate(0, 0);
  }

}

@media(min-width:600px) {
  .top-right-down {
    display: none;
  }
}

@media(max-width:500px) {
  .logo-animated.shrink {
    top: 35px;
    left: 30px;
    width: 64px;
    transform: translate(0, 0);
  }

  .modal-content p {
    font-size: 16px;
  }

  .btn-stakeholder {
    font-size: 16px !important;
  }

  .login-option-header p {
    font-size: 18px;
  }

  .btn-member {
    font-size: 16px !important;
  }

  .stakeholder-text-column h2 {
    font-size: 22px !important;
  }

  .stakeholder-text-column p {
    font-size: 16px !important;
  }

  .stakeholder-text-column a {
    font-size: 16px !important;
  }

  .create-request-btn {
    background-color: #2A3647 !important;
    border-color: #2A3647 !important;
  }

  .create-request-btn img {
    display: none;
  }

}

@media(max-width: 401px) {
  .signup-btn:hover {
    background-color: #00BEE8;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .login-btn:hover {
    background-color: #00BEE8;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .guest-btn:hover {
    color: #00BEE8;
    border-color: #00BEE8;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .footer a:hover {
    color: #00BEE8;
    font-weight: 600;
    transform: scale(1.03);
  }
}

@media(max-width:400px) {

  .logo-animated.shrink {
    top: 35px;
    left: 30px;
    width: 64px;
    transform: translate(0, 0);
  }

  .white-overlay {
    height: 100vh;
    background-color: #f6f7f8;
    transition: opacity 2s ease-in-out;
  }

  .footer {
    margin-top: 40px;
  }

  .login-box {
    min-height: 370px;
    max-width: 310px;
    padding: 5px 8px;
    margin-top: 120px;
  }

  .signup-btn {
    padding: 10px 16px 10px 16px;
  }

  .top-right-down {
    margin-top: 50px;
  }

  .footer a {
    margin-top: 25px;
  }

  footer {
    margin: 0 !important;
  }

  .input-group {
    margin: 8px;
  }

  .signup-btn:active {
    background-color: #00BEE8;
  }

  .error-message {
    font-size: 12px;
  }

}

@media (max-height: 900px) {
  .modal-signup-mobile {
    margin-top: 80px;
    margin-bottom: 8px;
  }

  .modal-content {
    padding: 24px 16px;
  }

  .modal-content p {
    margin-bottom: 16px;
  }

  .button-group-login {
    gap: 20px;
  }

  .button-group-login-item {
    gap: 8px;
  }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 900px) {
  .stakeholder-flex-container {
    flex-direction: column;
    text-align: center;
  }

  .stakeholder-image-column {
    display: none;
    /* Hide the side image on mobile */
  }

  .stakeholder-image-mobile {
    display: block;
    /* Show the mobile image between h2 and p */
  }

  .stakeholder-text-column {
    max-width: 100%;
  }

  .stakeholder-content h2,
  .stakeholder-content p {
    text-align: center;
  }

  .create-request-btn {
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
  }

  .stakeholder-text-column .limit-ok-heading {
    text-align: start;
  }


}

@media (max-width: 550px) {

  .logo-static {
    top: 20px;
    left: 20px;
    height: auto;
    width: 60px;
  }

  .stakeholder-header {
    flex-direction: row-reverse;
    /* Back button to right */
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    padding: 20px;
  }

  .stakeholder-content {
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .stakeholder-content h1 {
    order: -2;
    /* Move to top */
    text-align: left;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 0;
    position: absolute;
    top: 120px;
    /* Moved further down */
    left: 20px;
  }

  .request-counter {
    order: -1;
    text-align: left;
    margin-top: 132px;
    /* Adjusted for new h1 position */
    margin-bottom: 20px;
    width: 100%;
  }

  .back-btn {
    position: absolute;
    top: 120px;
    right: 20px;
  }

  .stakeholder-logo {
    top: 20px;
    left: 20px;
    width: 40px;
    height: auto;
  }

  .stakeholder-content h2 {
    font-weight: 500;
    color: #2A3647;
    margin-bottom: 24px;
    text-align: center;
    white-space: normal;
  }

  .stakeholder-content h1 {
    font-size: 40px;
    line-height: 120%;
    font-weight: 700;
    text-align: start;
  }

  .request-counter {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .modal-content {
    padding: 40px 16px
  }
}