/* Media Query */

@media(max-width: 1800px) {
    .logo-animated-register {
        position: relative;
        top: 45px;
        right: 633px;
        width: 100px;
    }
}

@media(max-width: 1350px) {
    .logo-animated-register {
        position: relative;
        top: 45px;
        right: 403px;
        width: 100px;
    }
}

@media(max-width: 950px) {
    .logo-animated-register {
        position: relative;
        top: 45px;
        right: 203px;
        width: 100px;
    }
}

@media(max-width: 530px) {
    .logo-animated-register {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 46px;
    }
}



@media(max-width: 650px) {
    .login-box-register {
        height: 650px;
    }
}

@media(max-width: 470px) {
    .login-box-register {
        height: 620px;
        padding: 80px 10px;
    }

    .sign-up {
        font-size: 47px;
        width: 100%;
    }

    .signup-btn-register {
        max-width: 160px;
    }
}

@media(max-width: 380px) {
    .logo-animated.shrink {
        left: 40px;
        width: 64px;
        height: 78px;
    }

    .logo-animated {
        width: 100px;
        height: 121px;
    }
}