@media (max-width: 1440px) {
  .user {
    margin-left: 66px;
    width: 150px;
    }

    .greet-user {
        font-size: 16px;
        width: 150px;
    }

    .user-name {
        font-size: 24px;
        width: 150px;
    }

    .summary-section {
        height: 500px;
        margin-top: 40px;
        margin-top: 130px;
        margin-bottom: 20px;
        margin-left: 380px;

    }

    .todo-subsection {
        height: 140px;
    }

    .task-subsection {
        height: 140px;
    }
}
@media (max-width: 1180px) {

    .user{
        margin-left: 25px;
    }
    .summary-section{
        margin-left: 380px;
        margin-top: 100px;
    }

    .title-section {
        margin-top: 150px;
        margin-left: 380px;
        margin-bottom: 92px;
        flex-direction: column;
        text-align: start;
        align-items: flex-start;
        gap: 0;
    }

    .title-section h1 {
        font-size: 47px;
    }

    .title-section span {
        font-size: 20px;
    }

    .summary-section{
        margin-top: 30px;
    }

    .pipe {
        display: none;
    }

    .summary-section .todo-subsection{
        width: 430px;
        justify-content: center;
        gap: 30px;
    }

    .todo-responsive{
        height: 120px;
        width: 200px;
        justify-content: center;
    }

    .urgency-subsection {
        justify-content: center;
        width: 430px;
        height: 120px;
    }

    .task-subsection {
        width: 430px;
        height: 120px;
        justify-content: center;
        gap: 30px;
    }

    .task-subsection a{
        height: 120px;
    }
}

@media (max-width: 1000px){

    .align-section {
        width: 430px;
        margin-left: auto;
        margin-right: auto;
    }

    .horizontal-pipe {
        display: flex;
        font-size: xx-large;
        width: 90px;
        color: #29ABE2;
        position: relative;
        bottom: 15px;
    }

    .user{
        display: none;
    }

    .summary-section {
        margin-bottom: 82px;
        margin-left: 0;
    }
    
    .title-section {
        margin-bottom: 55px;
        width: 230px;
        justify-content: flex-start;
        margin-left: 2%;
    }
}

@media (max-width: 480px){

    .align-section {
        width: 300px;
    }
    
    .task-subsection{
        width: 300px;
    }

    .urgency-subsection {
        width: 300px;
    }

    .urgency-subsection span{
        font-size: 14px;
    }

    .summary-section h1{
        font-size: 47px;
    }

    .summary-section .todo-subsection {
        width: 300px;
    }

    .responsive-todo-icon{
        width: 40px;
        height: 40px;
    }

    .reponsive-urgency-icon{
        width: 40px;
        height: 40px;
    }

    .display-deadline h1{
        font-size: 24px;
    }

    .display-deadline span{
        font-size: 16px;
    }

    .urgency-subsection{
    gap: 10px;
    }

    .display-urgency{
        gap: 5px;
    }

    .semi-bold {
        font-size: xxx-large;
    }

    .in-progress span{
        font-size: 16px;
    }

    .urgency-subsection h1{
        font-size: 47px;
    }

    .task-subsection span{
    font-size: 14px;
}
}