<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desktop Template</title>
    <link rel="stylesheet" href="../styles/side_menu.css" />
    <link rel="stylesheet" href="../styles/media.css" />
    <link rel="stylesheet" href="../styles/standard.css" />

    <script src="../scripts/side-menu.js"></script>
  </head>
  <body>
    <header>
      <!--Header content-->
      <div class="header-content">
        <div class="header-inner">
          <div class="logo-mobile d_none">
            <img src="../assets/img/logo/logo-dark.png" alt="Logo" />
          </div>
          <h1 class="header-title">Kanban Project Management Tool</h1>
          <div class="header-right">
            <div class="help-container" id="helpContainer">
              <span class="help-icon" onclick="toggleHelpDropdown()">
                <img
                  src="../assets/img/icons/header-side-menu/help.png"
                  alt="Help Icon"
                />
              </span>
              <div id="helpDropdown" class="help-dropdown">
                <a href="" class="dropdown-item">Impressum</a>
                <a href="" class="dropdown-item">Datenschutz</a>
              </div>
            </div>
            <div class="profile-container" id="profileContainer">
              <img
                src="./assets/profile.jpg"
                alt="Profile"
                class="profile-img"
                onclick="toggleProfileDropdown()"
              />
              <div id="profileDropdown" class="profile-dropdown">
                <a href="" class="dropdown-item mobile-only d_none"
                  >Impressum</a
                >
                <a href="" class="dropdown-item mobile-only d_none"
                  >Datenschutz</a
                >
                <a href="login.html" class="dropdown-item">Log out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End of Header content-->
    </header>
    <!--Side-menu-->
    <aside class="side-menu background-side-menu">
      <div class="logo-section">
        <img
          src="../assets/img/logo/logo-light.png"
          alt="Logo"
          class="logo-side-menu-img"
        />
      </div>

      <div class="menu-section">
        <a href="../summary.html" class="menu-item">
          <span class="menu-icon">
            <img
              src="../assets/img/icons/header-side-menu/summary.svg"
              alt=""
            />
          </span>
          <span>Summary</span>
        </a>
        <a href="../board.html" class="menu-item active">
          <span class="menu-icon">
            <img src="../assets/img/icons/header-side-menu/board.svg" alt="" />
          </span>
          <span>Board</span>
        </a>
        <a href="../add_task.html" class="menu-item">
          <span class="menu-icon">
            <img
              src="../assets/img/icons/header-side-menu/add-task.svg"
              alt=""
            />
          </span>
          <span>Add Task</span>
        </a>
        <a href="../add_contact.html" class="menu-item">
          <span class="menu-icon">
            <img
              src="../assets/img/icons/header-side-menu/contacts.svg"
              alt=""
            />
          </span>
          <span>Contacts</span>
        </a>
      </div>

      <div class="notice-side-menu">
        <a href="" class="menu-item menu-bottom">
          <span>Privacy Policy</span>
        </a>
        <a href="" class="menu-item menu-bottom">
          <span>Legal notice</span>
        </a>
      </div>
    </aside>
  </body>
</html>
