.custom-dropdown {
    position: relative;
}

.dropdown-input {
    border: 1px solid black;
    border-color: #d1d1d1;
    padding: 16px;
    cursor: pointer;
    height: 48px;
    transition: border-color 0.1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-input:hover {
    border-color: rgb(81, 78, 78);
}

.input-field {
    border: none;
}

#searchInput::placeholder {
    color: black;
}

.arrow {
    height: 24px;
    width: 24px;
    font-size: 24px;
    text-align: center;
    color: #2A3647;
    display: inline-block;
}

.arrow:hover {
    border-radius: 50%;
    background-color: #D1D1D1;
}

.arrow.rotate {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    border-top: none;
    z-index: 10;
    display: none;
    min-width: 230px;
    max-height: 170px;
    overflow-y: auto;
}

.select-container {
    position: relative;
    display: flex;
    align-items: center;
}

.select-container select {
    color: black;
    padding: 0 21px;
    appearance: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 50px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
}

.select-container .arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    margin: 0;
    color: #2A3647;
    cursor: pointer;
    height: 21px;
    width: 21px;
    text-align: center;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    background: transparent;
    transform: translateY(-50%);
    z-index: 3;
}

.select-container .arrow:hover {
    border-radius: 50%;

    background-color: #D1D1D1;
    cursor: pointer;
}

.select-container .arrow.rotate {
    transform: translateY(-50%) rotate(180deg);
}

.contact-item {
    display: flex;
    padding: 8px 10px;
    cursor: pointer;
    align-items: center;
}

.contact-item:hover {
    background-color: #EFEFEF;
}

.assigned-to-container {
    height: 140px;
}

.avatar {
    color: white;
    width: 42px;
    height: 42px;
    background: #2A3647;
    border-radius: 50%;
    border: 2px solid white;
    font-weight: 400;
    font-size: 12px;
    margin-right: 16px;
}

.contact-name {
    flex: 1;
    margin-left: 10px;
}

.contact-checkbox {
    margin-left: auto;
}

.contact-item input[type="checkbox"] {
    transform: scale(1.2);
}

.contact-item.active {
    color: white;
    background-color: #2A3647;
    border-radius: 6px;
}

.contact-item.active:hover {
    background-color: #091931;
}

#selectedContacts {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 8px;
    min-width: 266px;
    border-radius: 6px;
}

.selected-contact {
    display: inline-flex;
    align-items: center;
    margin: 4px;
    padding: 4px 8px;
    background: #f2f2f2;
    border-radius: 8px;
    font-size: 14px;
}

.selected-contact .avatar {
    margin-right: 6px;
    width: 28px;
    height: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    color: white;
}

.category-text {
    transition: border-color 0.1s;
}

.category-text:hover {
    border-color: rgb(81, 78, 78);
}

.star {
    color: #E60026;
}

.star-required {
    max-width: 630px;
    min-width: 200px;
    position: absolute;
    top: 80px;
}

.required-task-text {
    margin-top: 5px;
}

.subtask-input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 16px 14px;
}

.subtask-input-box input {
    border-color: transparent;
    height: auto;
}

.subtask-input-box input:disabled {
    color: #D1D1D1;
    cursor: not-allowed;
}

.add-subtask-input {
    padding: 2px;
    outline: none;
}

.icon-task {
    font-size: 24px;
    color: #333;
    cursor: pointer;
    padding-left: 10px;
}

.subtask-input-box .icon-task.visible {
    visibility: visible;
}

.output-subtask {
    max-width: 440px;
    min-width: 260px;
    max-height: 126px;
    overflow-y: auto;
    height: 85px;
}

.subtask-text-box {
    overflow: visible;
    max-width: 440px;
    min-width: 260px;
    padding-left: 20px;
    transition: background-color 0.1s;
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    height: 32px;
    gap: 5px;
}

.icon-edit-subtask-box {
    display: none;
    position: absolute;
    right: 8px;
    padding-right: 6px;
    top: 32%;
    transform: translateY(-50%);
    background: transparent;
    z-index: 2;
    align-items: center;
    margin-top: 2px;
    gap: 8px;
}

.icon-divider {
    display: inline-flex;
    align-items: center;
    height: 24px;
}

.icon-divider svg {
    display: block;
    height: 24px;
    width: 2px;
}

.icon-edit-subtask-box .icon-divider {
    display: inline-flex;
}

.icon-edit-subtask-box .editing-divider {
    display: none;
}

.icon-edit-subtask-box.editing .icon-divider {
    display: none;
}

.icon-edit-subtask-box.editing .editing-divider {
    display: inline-flex;
}

.subtask-text-box:hover .icon-edit-subtask-box,
.subtask-text-box:focus-within .icon-edit-subtask-box {
    display: flex;
    background: transparent;
}

.subtask-entry {
    border: none;
    height: 32px;
    width: 100%;
    max-width: 440px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    position: relative;
}

.subtask-entry::before {
    content: "•";
    margin-right: 8px;
    color: #2A3647;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}

input.subtask-entry::before {
    content: none;
}

.subtask-entry:focus {
    outline: none;
    box-shadow: none;
}

.subtask-entry:hover {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.delete-subtask-input {
    padding: 0;
}

.plus {
    height: 24px;
    width: 24px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.plus img {
    height: 14px;
    width: 14px;
}


.plus:hover {
    border-radius: 50%;
    background-color: #D1D1D1;
}

.input-second {
    width: 480px;
    border: none;
    outline: none;
    padding-left: 2px;
    background: transparent;
    box-shadow: none;
}

.border-bottom-blue {
    min-width: 266px;
    width: 100%;
    border-bottom: 1px solid #005DFF;
    background: white;
}