.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.title-section {
  margin-top: 164px;
  margin-left: 328px;
  max-width: 625px;
  height: 73px;
  gap: 30px;
}

.title-section h1 {
  font-size: 61px;
  color: #000000;
  font-weight: bold;
  font-family: 'inter', sans-serif;
}

.add-task-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-left: 237px;
  width: 1400px;
  height: 562px;
}

form {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.add-task-container {
  width: 100%;
  max-width: 1102px;
  display: flex;
  gap: 80px;
}

.pipe {
  width: 2px;
  height: 424px;
  border: 1px solid #D1D1D1;
}

/* Section left */
.section-task-left {
  max-width: 50%;
}

.input-title-task {
  height: 48px;
  margin: 10px 0;
}

.textarea-task {
  height: 120px;
  padding: 12px 21px;
  margin: 10px 0 20px;
}

/* Section right */
.section-task-right {
  max-width: 50%;
  margin-left:20px
}

.btn-prio {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin: 10px 0;
/*   background: white; */
}

/* Nur normale Buttons beim Hover erhalten den Shadow */
.btn-prio-bundle:hover:not(.active-green):not(.active-yellow):not(.active-red) {
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.btn-prio-bundle {
  max-width: 136px;
  height: 56px;
  padding: 16px 10px;
  background-color: white;
  cursor: pointer;
}

.active-green {
  background-color: green;
  color: white;
  box-shadow: none;
}

.active-yellow {
  background-color: gold;
  color: black;
  box-shadow: none;
}

.active-red {
  background-color: red;
  color: white;
  box-shadow: none;
}

.medium-btn {
  gap: 6px;
  font-size: 21px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  border: 1px solid black;
}

/* section under */
.section-task-under {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Assigned CSS */
.custom-dropdown {
  position: relative;
}

.dropdown-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 23px;
  cursor: pointer;
  background: white;
  height: 48px;
  margin: 10px 0;
}

.input-field{
  border: none;
  color: black;
}
.input-field::placeholder {
  color: black;
}

.arrow {
  transition: transform 0.3s ease;
  margin-left: 8px;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  z-index: 10;
  display: none;
  max-height: 200px;
  overflow-y: auto;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
}

.contact-item:hover {
  background-color: #f9f9f9;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

.contact-name {
  flex: 1;
  margin-left: 10px;
}

.contact-checkbox {
  margin-left: auto;
}

.contact-item input[type="checkbox"] {
  transform: scale(1.2);
}

/* Add Subtask CSS */
.subtask-input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: #D1D1D1;
}

.subtask-input-box input {
  border: none;
  color: #D1D1D1;
}

.subtask-input-box input:disabled {
  color: #D1D1D1;
  cursor: not-allowed;
}

.add-subtask-input {
  padding: 0;
}

.icon-task {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  padding-left: 10px;
}

/* 2. Input field */
.plus {
  font-weight: bold;
}

.btn-clear-task-container {
  gap: 10px;
  max-width: 519px;
}

.btn-addtask-clear {
  gap: 8px;
  max-width: 110px;
  height: 56px;
  border: 1px solid #2A3647;
  color: #2A3647;
  background: white;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.btn-addtask-clear:hover {
  border-color: #29ABE2;
  color: #29ABE2;
  transform: scale(1.01);
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.2);
}

.btn-addtask-create {
  color: white;
  max-width: 183px;
  height: 56px;
  background: #2A3647;
  transition: all 0.2s ease-in-out;
}

.btn-addtask-create:hover {
  background: #29ABE2;
  transform: scale(1.01);
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.2);
}

.icon-close path {
  stroke: #2A3647;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.2s ease-in-out;
}

.btn-addtask-clear:hover .icon-close path {
  stroke: #29ABE2;
}

.star {
  color: red;
}