.overlay-big-card {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(128, 123, 123, 0.113);
    z-index: 2000;
}

.big-card-content {
    background-color: white;
    border-radius: 30px;
    max-height: calc(100vh - 16px);
    overflow-x: hidden;
    padding: 48px 40px;
    width: 90%;
    max-width: 600px;
    gap: 15px;
    z-index: 2001;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateX(300%) translateY(-50%);
    transition: transform 0.150s ease-in-out;
}

.big-card-content.show {
    right: 50%;
    transform: translateX(50%) translateY(-50%);
}

.title-content {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 61px;
    overflow-wrap: break-word;
    word-break: normal;
    hyphens: auto;
    max-width: 100%;
    margin-bottom: 10px;
}

.icon-close-icon:hover {
    width: 22px;
    height: 14px;
    background-color: rgb(232, 227, 227);
    border-radius: 50px;
}

.category-x {
    height: 36px;
}

.category-chois {
    font-size: 23px;
    max-width: 208px;
    height: 36px;
    padding: 8px;
    background-color: #1FD7C1;
    border-radius: 8px;
}

.description-big-card {
    line-height: 120%;
    min-height: 40px;
    margin-bottom: 20px;
    max-height: 360px;
    overflow: auto;
}

.date-big-card {
    gap: 25px;
    height: 24px;
    margin-bottom: 15px;
}

.date-big-card-text {
    color: #2A3647;
}

.prio-big-card {
    gap: 32px;
    height: 32px;
    margin-bottom: 10px;
}

.assigned-big-card {
    height: 175px;
    overflow: auto;
    margin: 15px 15px 15px 0;
}

.contacts-big-card {
    margin-top: 20px;
    margin-left: 30px;
    gap: 40px;
}

.creator-big-card {
    gap: 10px;
}

.creator-spacer {
    flex-grow: 1;
}

.subtasks-big-card {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
}

.subtasks-list-container {
    width: 100%;
    max-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
    margin: 15px 15px 15px 0;
    /* Platz für Scrollbar */
}

.input-subtask-checkbox-big-card {
    width: auto;
    flex-shrink: 0;
    margin-left: 20px;
}

.subtask-text-big-card {
    margin-bottom: 10px;
}

.subtask-value-content {
    font-size: 16px;
    color: #333;
    list-style-type: none;
}

.checkbox-subtask-content {
    flex-direction: row;
    justify-content: flex-start;
    gap: 18px;
    margin-bottom: 4px;
    width: 100%;
}

.avatar-with-name {
    gap: 8px;
    margin-bottom: 4px;
}

.avatar {
    font-size: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: bold;
}

.avatar-name {
    font-size: 16px;
    color: #333;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.delete-edit-big-card-content {
    justify-content: flex-end;
    gap: 8px;
    font-size: 16px;
}

.delete-icon-big-card:hover,
.edit-pen-big-card:hover {
    color: #29ABE2;
    cursor: pointer;
}

.delete-icon-big-card:hover svg path,
.edit-pen-big-card:hover svg path {
    fill: #29ABE2;
}

.x-closing-icon {
    cursor: pointer;
    margin-left: 20px;
}

.x-closing-icon:hover {
    background-color: #3333333b;
    border-radius: 30%;
}

@media(max-width:1000px) {
    .big-card-content {
        max-height: calc(82vh - 16px);
    }

    .title-content {
        font-size: 60px;
    }
}

@media (max-width: 560px) {
    .category-x {
        height: auto;
        align-items: flex-start;
    }

    .creator-line {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .creator-big-card {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "icon icon icon"
            "label name right";
        gap: 5px;
        align-items: center;
    }

    .creator-big-card>img.left-icon {
        grid-area: icon;
        justify-self: start;
        margin-bottom: 5px;
        margin-left: 0 !important;
    }

    .creator-text {
        grid-area: label;
        margin-right: 10px;
    }

    .creator-name {
        grid-area: name;
        margin-left: 0 !important;
    }

    .creator-big-card>img:not(.left-icon) {
        grid-area: right;
        justify-self: end;
    }

    .creator-spacer {
        display: none;
    }
}

@media(max-width:505px) {
    .big-card-content {
        /*      margin: 10px 10px; */
        padding: 30px 40px;
        max-height: calc(85vh - 16px);
    }

    .delete-edit-big-card-content {
        margin-top: 10px;
    }
}

@media(max-width:400px) {
    .title-content {
        font-size: 36px;
    }

    .big-card-content {
        max-width: 309px;
    }
}