body {
  overflow: hidden;
}

.overlay-big-card {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(128, 123, 123, 0.113);
    z-index: 2000;
}

.big-card-content {
    background-color: white;
    border-radius: 30px;
    max-height: calc(100vh - 16px);
    overflow-x: hidden;
    padding: 48px 40px;
    max-width: 510px;
    gap: 15px;
    z-index: 2001;
}

.title-content {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 61px;
    overflow-wrap: break-word;
    word-break: normal;
    hyphens: auto;
    max-width: 100%;
    margin-bottom: 10px;
}

.icon-close-icon:hover {
    width: 22px;
    height: 14px;
    background-color: rgb(232, 227, 227);
    border-radius: 50px;
}

.category-x {
    height: 36px;
}

.category-chois {
    font-size: 23px;
    max-width: 208px;
    height: 36px;
    background-color: #1FD7C1;
    border-radius: 8px;
}

.description-big-card {
    line-height: 120%;
    min-height: 40px;
    margin-bottom: 20px;
    max-height: 80px;
    overflow: auto;
}

.date-big-card {
    gap: 25px;
    height: 24px;
    margin-bottom: 15px;
}

.date-big-card-text {
    color: #2A3647;
}

.prio-big-card {
    gap: 43px;
    height: 32px;
    margin-bottom: 10px;
}

.assigned-big-card {
    height: 175px;
    overflow: auto;
    margin-bottom: 15px;
}

.contacts-big-card {
    margin-top: 20px;
    margin-left: 30px;
    gap: 40px;
}

.subtasks-big-card {
    min-width: 400px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
}

.input-subtask-checkbox-big-card {
    width: auto;
    flex-shrink: 0;
    margin-left: 20px;
}

.subtask-text-big-card {
    margin-bottom: 10px;
}

.subtask-value-content {
    font-size: 16px;
    color: #333;
    list-style-type: none;
}

.checkbox-subtask-content {
    flex-direction: row;
    justify-content: flex-start;
    gap: 18px;
    margin-bottom: 4px;
    width: 100%;
}

.avatar-with-name {
    gap: 8px;
    margin-bottom: 4px;
}

.avatar {
    font-size: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: bold;
}

.avatar-name {
    font-size: 14px;
    color: #333;
}

.delete-edit-big-card-content {
    justify-content: flex-end;
    gap: 8px;
    font-size: 16px;
}

.delete-icon-big-card:hover,
.edit-pen-big-card:hover {
    color: #29ABE2;
    cursor: pointer;
}

.delete-icon-big-card:hover svg path,
.edit-pen-big-card:hover svg path {
    fill: #29ABE2;
}

.x-closing-icon {
    cursor: pointer;
}

.x-closing-icon:hover{
    background-color: #3333333b;
    border-radius: 30%;
}