.valid-drop-zone {
	background-color: transparent !important;
	border: 1px dashed #a8a8a8 !important;
	border-radius: 24px;
}

.board-card.dragging {
	opacity: 1 !important;
	background-color: rgba(255, 255, 255, 0.9) !important;
	transform: rotate(5deg);
	cursor: grabbing;
	z-index: 1000;
	position: absolute;
	width: 252px;
	pointer-events: none;
}

.drag-over {
	background-color: #e7e7e7 !important;
}

.placeholder {
	width: 252px;
	height: 263px;
	border: 1px dashed grey;
	border-radius: 10px;
	justify-self: center;
}

.placeholder:hover {
	background-color: #e7e7e7 !important;
}

.swap-icon {
	position: absolute;
	right: 16px;
	border: solid 2px black;
	border-radius: 5px;
	height: 20px;
	width: 20px;
}

.swap-icon:hover {
	transform: scale(1.04);
}

.switch-dropdown {
	position: absolute;
	/* z-index: 2; */
	background-color: #2a3647;
	padding: 6px 8px 16px;
	width: 106px;
	right: calc(36px - 106px);
	border-radius: 0 20px 20px 20px;
	color: white;
}

.switch-dropdown > * {
	padding: 8px 8px;
}

.switch-dropdown-btn {
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
	font-size: 16px;
	color: white;
	width: 100%;
	border-radius: 10px;
}

.switch-dropdown-btn:hover {
	background-color: #091931;
	cursor: pointer;
}

.switch-dropdown-btn img {
	height: 18px;
	padding-right: 6px;
}

.board-card.switch {
	z-index: 1;
}

.board-card.switch:hover {
	z-index: 1;
	cursor: unset;
	transform: unset;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	background-color: inherit;
}
