
.bg-ff7a00 {
	background-color: #ff7a00 !important;
}
.bg-ff5eb3 {
	background-color: #ff5eb3 !important;
}
.bg-6e52ff {
	background-color: #6e52ff !important;
}
.bg-9327ff {
	background-color: #9327ff !important;
}
.bg-00bee8 {
	background-color: #00bee8 !important;
}
.bg-1fd7c1 {
	background-color: #1fd7c1 !important;
}
.bg-ff745e {
	background-color: #ff745e !important;
}
.bg-ffa35e {
	background-color: #ffa35e !important;
}
.bg-fc71ff {
	background-color: #fc71ff !important;
}
.bg-ffc701 {
	background-color: #ffc701 !important;
}
.bg-0038ff {
	background-color: #0038ff !important;
}
.bg-c3ff2b {
	background-color: #c3ff2b !important;
}
.bg-ffe62b {
	background-color: #ffe62b !important;
}
.bg-ff4646 {
	background-color: #ff4646 !important;
}
.bg-ffbb2b {
	background-color: #ffbb2b !important;
}
