

.bg-ff7a00 {
	background-color: #ff7a00;
}
.bg-ff5eb3 {
	background-color: #ff5eb3;
}
.bg-6e52ff {
	background-color: #6e52ff;
}
.bg-9327ff {
	background-color: #9327ff;
}
.bg-00bee8 {
	background-color: #00bee8;
}
.bg-1fd7c1 {
	background-color: #1fd7c1;
}
.bg-ff745e {
	background-color: #ff745e;
}
.bg-ffa35e {
	background-color: #ffa35e;
}
.bg-fc71ff {
	background-color: #fc71ff;
}
.bg-ffc701 {
	background-color: #ffc701;
}
.bg-0038ff {
	background-color: #0038ff;
}
.bg-c3ff2b {
	background-color: #c3ff2b;
}
.bg-ffe62b {
	background-color: #ffe62b;
}
.bg-ff4646 {
	background-color: #ff4646;
}
.bg-ffbb2b {
	background-color: #ffbb2b;
}
