html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body.no-scroll {
  overflow: hidden;
}

.add-task-section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 16px);
}

.overlay-edit-task {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 123, 123, 0.113);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-task-content-style {
  display: flex;
  width: 472px;
  overflow-x: hidden;
  max-height: calc(100vh - 16px);
  padding: 15px 16px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 6.4px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}

.d-none {
  display: none;
}

.form-scroll {
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
  padding-bottom: 15px;
}

#edit-task-content #subtask-initial {
  display: flex;
  align-items: center;
}

#edit-task-content #subtask-initial .icon.plus {
  margin-left: auto;
  display: inline-flex;
}

.d-none {
  display: none !important;
}

#edit-task-content .subtask-text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  border-radius: 10px;
}

#edit-task-content .icon-edit-subtask-box {
  display: flex;
  gap: 8px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .15s ease-in-out;
}

#edit-task-content .subtask-text-box:hover .icon-edit-subtask-box {
  opacity: 1;
  pointer-events: auto;
  /* bei Hover sichtbar */
}

.add-task-container {
  gap: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.edit-add-task-button-container {
  display: flex;
  justify-content: flex-end;
}

.btn-addtask-create-ok {
    display: flex;
    text-wrap: nowrap;
    width: 168px;
    max-width: 85px;
    background-color: #2A3647;
}

.btn-addtask-create-ok:hover {
  background: #29ABE2;
  transform: scale(1.01);
  border: none;
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.2);
}

.output-subtask {
  margin-top: 10px;
  min-width: 420px;
  max-height: 125px;   /* maximale Höhe */
  overflow-y: auto;    /* Scrollbalken nur wenn nötig */
  overflow-x: hidden;  /* horizontalen Scrollbalken verstecken */
  border: 1px solid #ccc; /* optional, damit du die Box siehst */
  border: none;
}

@media(max-width:1001px){
  .edit-task-content-style
 {
  padding: 15px 8px;
    overflow-x: hidden;
    max-height: calc(86vh - 16px);
    overflow:auto;
}
.textarea-task
 {
  height: 70px;
    margin: 10px 0 10px 0;
}
.error-container
 {
    height: 0px;
}

.m-top
 {
    margin-top: 5px;
}

.output-subtask {
    max-height: 88px;
}
}

@media(max-width:500px){
 .output-subtask {
  min-width: 350px;
}

.edit-task-content-style {
  padding: 15px 12px;
  margin: 0 10px;
}
}

@media(max-width:400px){
 .output-subtask {
  min-width: 200px;
}
}

@media(max-width:368px){
  .btn-addtask-create-ok{
    justify-content: center;
  }
   .textarea-task-edit {
        height: 60px;
    }

    .btn-prio
 {
    margin: 10px  10px ;
}
}


