/* Mobile-specific styles */
.mobile-only {
    display: none;
}

/* Desktop-specific styles */
.desktop-only {
    display: block;
}

@media (max-width: 1000px) {
    .mobile-only {
        display: block;
    }
    
    .desktop-only {
        display: none;
    }
    
}

