.checkbox-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 25px;
    gap: 5px;
}

.checkbox{
    width: 20px;
}

.privacy-police{
    color: #00BEE8 ;
    text-decoration: none;
}

.privacy-police.hover{
    color: #00BEE8 ;
}