.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    font-size: 61px;
    width: 100%;
}

.sign-up-box {
    width: 100%;
    max-width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-flash {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.left-flash:hover {
    background-color: rgba(128, 128, 128, 0.182);
}

.left-flash img {
    width: 32px;
}

.login-box-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    max-width: 598px;
    height: 726px;
    margin: 180px auto 0 auto;
    padding: 80px 40px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.checkbox-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 25px;
    gap: 5px;
}

.checkbox {
    width: 20px;
}

.privacy-police {
    color: #00BEE8;
    text-decoration: none;
}

.privacy-police.hover {
    color: #00BEE8;
}

.sign-up-bottom {
    width: 100%;
}

.signup-btn-register {
    width: 100%;
    height: 55px;
    max-width: 126px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    background-color: #2A3647;
    font-size: 16px;
    border-radius: 8px;
    padding: 15px 16px 15px 16px;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 100ms ease-in-out;
}

.signup-btn-register:hover {
    background-color: #00BEE8;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.confirm-login-template {
    width: 100%;
    max-width: 312px;
    height: 74px;
    border-radius: 20px;
    padding: 0 25px;
    background-color: #2a3647;
    color: white;
    font-size: 20px;
    position: fixed;
    bottom: -100px; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: bottom 0.5s ease-out, opacity 0.5s ease-out;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;
}

.confirm-login-template.show {
    bottom: 420px;
    opacity: 1;
}

.confirm-login-template.fadeout {
    opacity: 0;
}

.register-succ-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.register-succ-overlay.show {
    opacity: 1;
}

.register-succ-overlay.hide {
    opacity: 0;
    pointer-events: none;
}

/* Media Query */
@media(max-width: 650px) {
    .login-box-register {
        max-width: 411px;
        height: 650px;
    }
}

@media(max-width: 600px) {
    .login-box-register {
        max-width: 445px;
        height: 600px;
    }
}

@media(max-width: 450px) {
    .login-box-register {
        max-width: 310px;
        height: 480px;
        padding: 80px 10px;
    }

    .sign-up {
        font-size: 47px;
        width: 100%;
    }

    .signup-btn-register {
        max-width: 160px;
    }

}