* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F7F7;
    text-decoration: none;
}

.d-none {
  display: none !important;
}