* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F7F7;
    text-decoration: none;
}

.w-full {
  width: 100%;
}

.max-w-440 {
  max-width: 440px;
}
.rounded-10px{
   border-radius: 10px;
}

.p-16{
  padding: 16px;
}

.d-none {
    display: none;
}

.display-standard {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* css snippet addtask.html */
.font-bundle{
 font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

/* For add-task Input fields */
.input-base {
  border: 1px solid black;
  border-radius: 10px;
  padding: 12px 21px;
}

.input-bundle{
  width: 100%;
  max-width: 440px;
  height: 48px;
  border: 1px solid black;
  border-radius: 10px;
  margin:10px 0;
  padding:12px 21px;
}
/* CSS for labels that are actually empty but must be there for accessibility*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

